@model GsmRanking.Viewmodels.Phones.NewestPhonesViewModel

<div class="row">
    <div class="col">
        @foreach (var phone in Model.PhonesViewModel)
        {
            <div>
                <!-- bootstrap card z telefonem -->
            </div>
        }        
    </div>
</div>

