
<div class="jumbotron">
    <p>
        Nieautoryzowany dostęp.
    </p>
    <p>
        <a asp-action="Index" asp-controller="Home" class="btn btn-outline-danger">Wróć do strony głównej.</a>
    </p>
</div>