<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Zamknij" title="Zamknij">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="confirmModalTitle" style="font-weight: bold"></h4>
            </div>
            <div class="modal-body" id="confirmModalMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="confirmModalNo">Nie</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="confirmModalYes">Tak</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="showWaitingLabel" aria-hidden="true" id="showWaitingModal">
    <div class="modal-dialog modal-sm">
        <div class="modal-content text-md-center" style="padding-top: 20px; padding-bottom: 20px">
            <h3><strong>Operacja w toku!</strong></h3>
            <p class="text-muted">To może potrwać...</p>
            <fa class="fa-cog fa-spin fa-5x fa-fw" />
        </div>
    </div>
</div>
