@using GsmRanking.ViewComponents

@{
    ViewData["Title"] = "Strona główna";
    var newsCards = Component.InvokeAsync<NewsCardsViewComponent>();
}

<div class="row">
    <div class="col">
        @await newsCards
    </div>
</div>