@using GsmRanking.Models;
@model News

@{
    Layout = "_Layout";
}

<h1>@Model.Title</h1>
<img class="card-img-top" src="data:image/jpg;base64,@Model.Image" alt="@Model.Title" style="height: auto; width: 300px; ">
<p>@Model.ShortText</p>
<br />
<div>
    <p>@Model.Content</p>
</div>


