@model IEnumerable<GsmRanking.Viewmodels.News.NewsCardViewModel>

<div class="row">
    <div class="col">
        <div class="card-deck">
            @foreach (var news in Model)
            {
                <div class="card">
                    <img class="card-img-top" src="data:image/jpg;base64,@news.Image" alt="@news.Title" style="height: auto; width: 300px; " >
                    <div class="card-block">
                        <h4 class="card-title">@news.Title</h4>
                        <p class="card-text">@news.ShortDescription<p>
                    </div>
                    <div class="card-footer">
                        <small class="text-muted">@news.PublishDate</small>
                    </div>
                </div>    
            }
        </div>
    </div>
</div>



