@using GsmRanking.Viewmodels.Articles
@model GsmRanking.Viewmodels.Articles.ArticlesViewModel

<div class="row">
    <div class="col">
        @foreach (var article in Model.Articles)
        {
            <div class="row">
                <p>@article.Title</p> 
                <p>@article.PublicationDate</p>
                <hr/>
                <div class="col-2">
                    <!--photo-->
                </div>
                <div class="col">
                    <div>@article.Description</div>
                    <p>Więcej -></p>
                    <!--liczba komentarzy-->
                </div>
            </div>
        }        
    </div>
</div>

