@using GsmRanking.Viewmodels.Articles
@model GsmRanking.Viewmodels.Articles.ArticleCreateViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
      
</div>
</body>
</html>